:root{
	--escala: 600px;
	--giroRuleta: 0deg;
}

*{
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

body{
	background-image:url(fondo.jpg) ;
	margin: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1{
	text-align: center;
	user-select: none;
}

#container{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 80px;
}

.container {
	text-align: center;
	padding-top: 20px;
  }
  .logo {
	width: 150px;
	margin: 0 auto;
  }

#ruleta{
	position: relative;
	box-sizing: border-box;
	height: var(--escala);
	width: var(--escala);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 50%;
	overflow: hidden;
}


#cartelGanador{
	position: absolute;
	left: -150px;
	top: -40px;
	background-color: rgb(241, 129, 165);
	min-height: 55px;
	width: 300px;
	font-weight: bold;
	border: 2px solid white;
	color: white
}
#marcador{
	position: absolute;
	z-index: 10;
	top: -20px;
	background-color: rgb(241, 129, 165);
	height: 100px;
	width: 7px;
	pointer-events: none;
	border: 2px solid white;
}

/* Transportador */
#ruleta img{
	position: absolute;
	left: 0;
	transform:rotate(90deg);
	width: var(--escala);
	z-index: 10;
	opacity: 80%;
	pointer-events: none;
}

#opcionesContainer{
	transform-origin: center;
}

#sortear{
	position: absolute;
	background-color: rgb(241, 129, 165);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	top: calc(var(--escala) / 2 - 60px / 2 );
	left: calc(var(--escala) / 2 - 60px / 2 );
	z-index: 2;
	text-align: center;
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(255, 255, 255);
	color: white;
}

.opcion{
	position: absolute;
	top: 0px;
	left: 0px;
	height: var(--escala);
	width: var(--escala);
	background-color: var(--color);
	transform: rotate( var(--deg));
	cursor: pointer;
}

/* Texto de opcion*/
.nombre{
	margin: 0;
	padding-top: 60px;
	color: white;
	text-align: center;
	height: 200px;
	position: absolute;
	top: -0%;
	left: 80px;
	transform-origin: bottom center;
	font-size: 20px;
	text-overflow: clip;
	pointer-events: none;
}

.separador{
	position: absolute;
	left: calc(var(--escala) / 2 - 1px);
	height: calc(var(--escala) / 2);;
	width: 4px;
	transform-origin: center bottom;
	background-color: rgb(255, 255, 255);
	z-index: 1;
	border-radius: 2px;
}


.girar{
	animation-name: girar;
	animation-duration: 5s;
	animation-timing-function: cubic-bezier(0.1, 0, 0.18, 0.99);;
	animation-direction: normal;
	animation-fill-mode: forwards;
}



@keyframes girar {
	100%{
		transform: rotate( var(--giroRuleta) );
	}
}
